@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
  }
  body {
    @apply bg-slate-50 dark:bg-slate-900 text-slate-800 dark:text-slate-100;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
  }
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@media print {
  nav, button, footer {
    display: none !important;
  }
  body {
    background: white !important;
    color: black !important;
  }
}
